body{
	background-color: white;
	color: white;
}

/* ----------- SECTION 1: GO FOR JEGO ----------- */

#section1{
	background-color: #0072BB;
	height: 100vh;
}

#sec1_text{
	color: white;
	font-family: 'Permanent Marker', cursive;
	font-size: 12vw;
	font-style: italic;
	font-weight: 500;
	text-align: center;
	vertical-align: middle;
	left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
}

#tosec2:link, #tosec2:visited, #tosec2:active{
	text-decoration: none;
	color: white;
}

#tosec2:hover{
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-color: #FED766;
}

.blink{
	color: white;
	-webkit-animation: blink 2s step-start infinite;
	animation: blink 1.5s step-start infinite;
}

@-webkit-keyframes blink {
	0% { color: white }
	25% { color: #FED766 }
}
@keyframes blink {
	0% { color: white }
	25% { color: #FED766 }
}

/* ----------- END OF SECTION 1 ----------- */

/* ----------- SECTION 2: WHO IS JEGO? ----------- */

#section2{
	height: 100vh;
	width: 100%;
}

#sec2_text{
	color: #0072BB;
	font-family: 'Permanent Marker', cursive;
	font-size: 12vw;
	font-weight: 500;
	text-align: left;
	margin-left: 10%;
    margin-top: 5%;
    position: absolute;
}

#sec2_text2{
	color: #121619;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5vw;
	font-style: italic;
	line-height:36px;
	text-align: left;
}

/* ----------- END OF SECTION 2 ----------- */